.button-st {
    background-color: transparent;
    color: #68A9FF;
    border: 3px solid #68A9FF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    cursor: pointer;
    width: 214px;
    height: 63px;
    border-radius: 20px;
    outline: inherit;
    overflow: hidden;
    margin: 5px;
  }
  
  .button-st:hover {
    color: #fff;
    background-color: #68A9FF;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
  }