.Login-Container {
    width: 100%;
    height: 100vh;
    background-color: #68A9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.Form-Container {
    width: 42vw;
    height: 44vh;
    background-color: rgba(255, 255, 255, .8);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    z-index: 3;
    position: absolute;
}
.Input-Styles {
    display: flex;
    align-items: center;
    width: 70%;
    height: 44px;
    margin: 10px 0 15px 0px; 
    padding-left: 30px;
    border-radius: 20px;
    border: 2px solid #68A9FF;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    outline: none;
}
.Input-Styles::placeholder {
    color: rgba(104, 169, 255, .5);
    font-size: 12px;
  }